body {
  padding-top: 70px;
  overflow-y: scroll;
  padding-bottom: 25px;
  padding-right: 0px !important;  
}

.errorMsg {
  color: #d9534f;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.sect {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.categoryHeader {
  margin-bottom:0px;
}
.zoneHeader {
  margin-bottom:0px;
  min-height: 15px;
}
.borderOn {
  border: 1px dashed grey;
}
.borderOff {
  border: 0px;
}
.progressRight {
  float:right;
  margin-top:10px;
  width:250px;
}

#logo {
  display: inline-block;
  position:relative;
  top:-4px;
  width: 150px;
  height: 30px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background-image: url("../images/logo.png");
}

#logo:hover,#logo:focus {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
  border: 0
}

@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
    #logo {
        background-image: url("../images/logox2.png");
        background-size: 150px 30px;
    }
}

.achGrid {
    float:left;
    display: block;
    width: 220px;
    margin-right:20px;
}

/* ## Header ############################### */
.navbar {
    min-height:0px !important;
}
.navbar-nav > li > a {
    padding-top: 11px;
    padding-bottom: 10px;
}
.navbar-char-link {
    margin:0px !important;
    padding:0px !important;
    padding-top: 5px !important;
    padding-bottom: 4px !important;
    padding-left:13px !important;
    padding-right:13px !important;
}
.navbar-char-image {
    height:32px;
    width:32px;
    border-radius: 3px;
    margin: 0px;
}
.navbar-brand {
    padding-right:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 41px;
}
.navbar-toggle {
  padding:5px;
  margin-top: 7px;
}

.page-header {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom:0px;
    overflow:hidden;
}
.signin-label {
    color: #767676;
    padding: 3px 20px;
}
.signin-name {
    color: #767676;
    font-weight: 600;
    padding: 3px 20px;
    white-space: nowrap;
}
.thumbnail {
    padding: 0px;
    width:36px;
    height:36px;
    float:left;
    margin-bottom:5px;
    margin-top:0px;
}
.pbThumbnail {
  margin-bottom:0px;
}
.form-control {
    border-radius: 0px;
}
.input-group-label {
    min-width: 100px;
}
.combobox-container > .input-group {
    width:100%;
} 
.pbCell {
    display:inline-block;
    position:relative;
    padding-bottom:6px;
}
.pbQual {
    position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    height:6px;
}
.pbLevel,.pbBreed
{
    color: white;
    position:absolute;
    left:38%;
    top: 2px;
    height:6px;
    font-weight:bold;
    opacity:0;
    -webkit-transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}
.pbBreed {
    top: 15px;
    left:20%;
}
.opacityOn {
  opacity:1;
}
.pbCheckButtom {
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}
.pbSmall {
  display:inline-block;
}
.pbSmall > input {
  margin-right: 4px;
}
.pbSmall > label {
  font-weight: 400;
}

/* ## Reputation Page ############################### */
.rep ul {
  list-style-type: none;
  min-width:665px;
  overflow:none
  margin:0px;
  padding:0px;
}
.rep li {
  height: 20px;
  margin-left:25px;
}
.rep h3 {
  margin-bottom: 0px; 
}

.factionLabel {
  display:inline-block;
  margin-right:15px;
  text-align: right;
  width: 175px;
  font-size: 14px;
  position:relative;
}

/* all rules */
.hated,.hostel,.unfriendly,.neutral,.friendly,.honored,.revered,.exalted,
.stranger,.acquaintance,.buddy,.friend,.goodFriends,.bestFriends {
  display:inline-block;
  height: 10px;
  border-radius: 2px;
  margin-right:1px;
  position: relative;
}

/* Hated */
.hated, .stranger  {
  background-color: #c22;
  width: 150px;
}
.stranger {
  width: 50px;
}

/* Hostel */
.hostel, .acquaintance {
  background-color: red;
  width: 25px;  
}
.acquaintance {
  width: 50px;
}

/* Unfriendly */
.unfriendly, .buddy {
  background-color: #e62;
  width: 25px;    
}
.buddy {
  width: 50px;
}

/* Neutral  */
.neutral, .friend {
  background-color: #D29D01;
  width: 25px;    
}
.friend {
  width: 50px;
}

/* Friendly */
.friendly, .goodFriends {
  background-color: #55B101;
  width: 40px;    
}
.goodFriends {
  width: 50px;
}

/* Honored */
.honored, .bestFriends {
  background-color: #55B101;
  width: 60px;    
}
.bestFriends {
  width: 50px;
}

/* Revered */
.revered {
  background-color: #55B101;
  width: 85px;    
}

/* Exalted */
.exalted {
  background-color: #0EC077;
  width: 10px;    
}

.repLabel {
  font-size: 10px;
  font-style: italic;
  background-color: transparent
}
.repValue {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  top: -10px;
  left: 170px;
  z-index:1;
}
/* ## Reputation Page ############################### */

/* ## Mounts Page ############################### */
.mnt-plan-boss-col {
  min-width: 110px;
}
.mnt-plan-mount-col {
  min-width: 200px;
}
.mnt-plan-icon {
  width: 15px;
  height: 15px;
  position: relative;
  top: -2px;
  margin-right: 4px;
}
.mnt-plan-rare {
  color: #0070dd;
}
.mnt-plan-epic {
  color: #a335ee;
}
.mnt-icon-step {
  position: relative;
  top: -2px;
  margin-right: 3px;
}
/* ## Mounts Page ############################### */

/* Fix up the widths for bigger header */
@media (min-width: 768px) {
    .container {
        width:800px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}

/* ## Setting Page ############################### */
.settingsPage .input-group {
  margin: 15px 0;
}
.autoLogin {
  display:block;
  font-weight: 400;
  cursor: pointer;
}

/* Fix bootstrap bug in ios 9 where it zooms in */
.modal-open {
  overflow-y: auto;
}

/* Footer */
.footer {
  display:none;
}