<div class="container">
  <div class="page-header">
    <h2>
        Achievements <small>{{superCat}}</small>
        <div class="progress progressRight">
            <progressbar max="100" type="success"
      	  		value="percent(achievements.completed, achievements.possible)" >
      	  		<span>{{ achievements.completed}} / {{achievements.possible}} ({{percent(achievements.completed, achievements.possible) }}%)</span></progressbar>  	
        </div>
    </h2>
  </div>
  
  <h3 class="categoryHeader" ng-repeat-start="category in achievements.categories">{{ category.name }}</h3>
  <div class="sect" ng-repeat="zone in category.zones">
      <h5 class="zoneHeader">{{ zone.name }}</h5>
      <a ng-href="http://www.wowhead.com/achievement={{achievement.id}}" class="thumbnail" ng-repeat="achievement in zone.achievements" ng-class="{borderOn:!achievement.completed, borderOff:achievement.completed}">
        <img ng-src="{{getImageSrc(achievement)}}">
      </a>
  </div>
  <div class="clear" ng-repeat-end /> 
</div>