<!DOCTYPE html>
<html lang="en" ng-app="simpleArmoryApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simplified armory site for World of Warcraft">
    <meta name="author" content="Kevin Clement">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Simple Armory</title>

    <!-- AngularJS & jQuery -->
    <script src="ext/js/jquery.min.js"></script>
    <script src="ext/js/angular.min.js"></script>
    <script src="ext/js/angular-route.min.js"></script>
    <script src="ext/js/angular-resource.min.js"></script>
    <script src="ext/js/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>

    <!-- CSS -->
    <link href="ext/css/bootstrap.min.css" rel="stylesheet">
    <link href="ext/css/bootstrap-combobox.css" rel="stylesheet">
    <link href="css/simplearmory.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        //$(document).ready(function() {
        //    var options = {
        //        keyboard: false,
        //        backdrop: 'static'
        //    };
        //    $('.combobox').combobox();
        //    $('#myModal').modal(options)
        //});
    </script>
  </head>

  <body>

    <!-- Navbar -->
    <div id="navbar" ng-controller="HeaderCtrl">
      <div ng-include src="'partials/header.html'"></div>
    </div>

    <p>1 + 2 = {{ 1 + 2 }}</p>

    <div ng-controller="ModalDemoCtrl">
      <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
              <h3 class="modal-title">Enter a realm and character</h3>
          </div>
          <div class="modal-body">
              <ul>
                  <li ng-repeat="item in items">
                      <a ng-click="selected.item = item">{{ item }}</a>
                  </li>
              </ul>
              Selected: <b>{{ selected.item }}</b>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">Go</button>
          </div>
      </script>

      <button class="btn btn-default" ng-click="open()">Open me!</button>
      <div ng-show="selected">Selection from a modal: {{ selected }}</div>
    </div>

    <!-- Modal Login -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Enter a realm and character</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <span class="input-group-addon input-group-label">Realm</span>
              <select class="combobox input-large form-control">
                  <option value="" selected="selected"></option>
                  <option value="PA">Pennsylvania</option>
                  <option value="CT">Connecticut</option>
                  <option value="NY">New York</option>
                  <option value="MD">Maryland</option>
                  <option value="VA">Virginia</option>
              </select>

            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon input-group-label">Character</span>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Go</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="ext/js/bootstrap.min.js"></script>
    <!--<script src="ext/js/bootstrap-combobox.js"></script>-->
  </body>
</html>
