body {
  padding-top: 70px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.sect {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}


@media (max-width: 991px) {
    .navbar-right {
        display: none;
    }
}
.achGrid {
    float:left;
    display: block;
    width: 220px;
    margin-right:20px;
}
.navbar-char-link {
    padding: 5px !important;
    line-height: normal !important;
}
.navbar-char-link > div {
    margin:0px;
    padding:0px;
}
.navbar-char-link-subtext {
    font-size: 9px;
    line-height:normal;
}
.navbar-char-image {
    width:42px;
    height:42px;
    margin-top:4px;
}
.page-header {
    margin-top: 0px;
    padding-bottom:0px;
    overflow:hidden;
}
.thumbnail {
    padding: 0px;
    width:36px;
    height:36px;
    float:left;
    margin-bottom:5px;
    margin-top:0px;
}

