<div class="container">
  
  <style>
    .wrapper {
      display: grid;
      grid-template-columns: 250px 250px;
    }
    .saveRight {
      float:right;
    }
  </style>

  <div class="page-header">
    <h2>
        Admin: 
        <div class="saveRight">
          <a class="btn btn-primary" role="button" ng-click="saveClicked()">Save</a>
          <a id="downloadLink" class="hide" download="{{downloadFile}}">hidden anchor</a>
        </div>
    </h2>
  </div>
  <div class="wrapper">
    <h4>Category</h4>
    <h4>Sub Category</h4>
    <select size="20" style="width:220px;" ng-change="selectionChanged()" ng-model="selectedCat" ng-options="cat as cat.name for cat in categories"></select>
    <select size="20" style="width:220px;" ng-model="selectedSubCat" ng-options="subCat as subCat.name for subCat in selectedCat.subcats"></select>
    <div>
      <a class="btn btn-default btn-sm" role="button" ng-click="addCategory()">+</a>
      <a class="btn btn-default btn-sm" role="button" ng-click="removeCategory()">-</a>
      <a class="btn btn-default btn-sm" role="button" ng-click="moveCategory(true)" ng-disabled="catUpDisabled">↑</a>
      <a class="btn btn-default btn-sm" role="button" ng-click="moveCategory(false)" ng-disabled="catDownDisabled">↓</a>
    </div>
    <div>
      <a class="btn btn-default btn-sm" role="button" ng-click="addSubCategory()">+</a>
      <a class="btn btn-default btn-sm" role="button" ng-click="removeSubCategory()">-</a>
      <a class="btn btn-default btn-sm" role="button" ng-click="moveSubCategory(true)">↑</a>
      <a class="btn btn-default btn-sm" role="button" ng-click="moveSubCategory(false)">↓</a>
    </div>
  </div>

  
</div>