<style>
.cal small {
	display: inline-block;
}
.cal .progressRight {
	width: 175px;
}
.cal select {
	height:30px;
	border-color:#ccc;
	border-radius: 4px;
	font-size: small;
	position:relative;
	top:-6px;
}
.cal .btn {
	height:30px;
	padding-top:0px;
	padding-bottom: 0px;
	font-size:;
	position: relative;
	top: -5px;
}

.cal table {
	border-collapse: collapse;
	border-spacing: 0;
}
.cal td {	
	width: 100px;
	min-width: 100px;
	height: 100px;
	color: #333;
	border: 1px solid #ccc;
	font-weight: normal;
	vertical-align: top;
	text-align: left;	
}
.cal td div 
{
	width: 96px;
	height: 72px;
	margin: 2px;
	overflow-y: auto
}
.cal td.dayspacer {
	border: 0
}

</style>

<div class="container cal">
  <div class="page-header">
    <h2>
        Calendar <small>
        		    <button type="button" class="btn btn-default" ng-click="leftOneMonth()">&laquo;</button>
        			<select 
        				ng-model="selectedMonth"
        				ng-options="month.text for month in months track by month.value"
        				ng-change="selectionChanged()">
        			</select>
        			<button type="button" class="btn btn-default" ng-click="rightOneMonth()">&raquo;</button>
        		 </small>
        <div class="progress progressRight">
            <progressbar max="100" type="success" value="100">
      	  		<span >{{ totalForMonth }} {{ totalPoints }}</span>
      	  	</progressbar>  	
        </div>
    </h2>
  </div>

  <div ng-bind-html="tableHtml"></div>
</div>
