<style>
.cal small {
	display: inline-block;
}
.cal .progressRight {
	width: 175px;
}
.cal select {
	height:30px;
	border-color:#ccc;
	border-radius: 4px;
	font-size: small;
	position:relative;
	top:-6px;
}
.cal .btn {
	height:30px;
	padding-top:0px;
	padding-bottom: 0px;
	font-size:;
	position: relative;
	top: -5px;
}

.cal table {
	border-collapse: collapse;
	border-spacing: 0;
}
.cal td {	
	width: 100px;
	min-width: 100px;
	height: 100px;
	color: #333;
	border: 1px solid #ccc;
	font-weight: normal;
	vertical-align: top;
	text-align: left;	
}
.cal td div 
{
	width: 96px;
	height: 72px;
	margin: 2px;
	overflow-y: auto
}
.cal td.dayspacer {
	border: 0
}

</style>

<div class="container cal">
  <div class="page-header">
    <h2>
        Calendar <small>
        		    <button type="button" class="btn btn-default" ng-click="leftOneMonth()">&laquo;</button>
        			<select 
        				ng-model="month"
        				ng-options="months.indexOf(month) as month for month in months">
        			</select>
        			<button type="button" class="btn btn-default" ng-click="rightOneMonth()">&raquo;</button>
        		 </small>
        <div class="progress progressRight">
            <progressbar max="100" type="success" value="100">
      	  		<span >{{ totalForMonth }} {{ totalPoints }}</span>
      	  	</progressbar>  	
        </div>
    </h2>
  </div>

<!--
<table class="calendar" style="display: block;">
    <tbody>
      <tr>
        <td colspan="2" class="dayspacer"></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>
          10
          <div>
            <a href="http://www.wowhead.com/achievement=6722" rel="who=Portside&when=1397188260000"><img src="http://wow.zamimg.com/images/wow/icons/medium/achievement_moguraid_04.jpg" width="36" height="36" border="0" /></a>
            <a href="http://www.wowhead.com/achievement=6722" rel="who=Portside&when=1397188260000"><img src="http://wow.zamimg.com/images/wow/icons/medium/achievement_moguraid_04.jpg" width="36" height="36" border="0" /></a>
            <a href="http://www.wowhead.com/achievement=6722" rel="who=Portside&when=1397188260000"><img src="http://wow.zamimg.com/images/wow/icons/medium/achievement_moguraid_04.jpg" width="36" height="36" border="0" /></a>
            <a href="http://www.wowhead.com/achievement=6723" rel="who=Portside&when=1397189220000"><img src="http://wow.zamimg.com/images/wow/icons/medium/achievement_moguraid_05.jpg" width="36" height="36" border="0" /></a>
            <a href="http://www.wowhead.com/achievement=6724" rel="who=Portside&when=1397190300000"><img src="http://wow.zamimg.com/images/wow/icons/medium/achievement_moguraid_06.jpg" width="36" height="36" border="0" /></a>
            <a href="http://www.wowhead.com/achievement=6731" rel="who=Portside&when=1397192040000"><img src="http://wow.zamimg.com/images/wow/icons/medium/achievement_raid_terraceofendlessspring01.jpg" width="36" height="36" border="0" /></a>
          </div>
        </td>
        <td>11</td>
        <td>12</td>
      </tr>

      <tr>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>
          17

          <div>
            <a href="http://www.wowhead.com/achievement=8467" rel=
            "who=Portside&amp;when=1397795460000"><img src=
            "http://wow.zamimg.com/images/wow/icons/medium/sha_inv_misc_slime_01.jpg"
            width="36" height="36" border="0" /></a><a href=
            "http://www.wowhead.com/achievement=6732" rel=
            "who=Portside&amp;when=1397800860000"><img src=
            "http://wow.zamimg.com/images/wow/icons/medium/achievement_raid_terraceofendlessspring02.jpg"
            width="36" height="36" border="0" /></a><a href=
            "http://www.wowhead.com/achievement=6733" rel=
            "who=Portside&amp;when=1397801280000"><img src=
            "http://wow.zamimg.com/images/wow/icons/medium/achievement_raid_terraceofendlessspring03.jpg"
            width="36" height="36" border="0" /></a>
          </div>
        </td>
        <td>18</td>
        <td>19</td>
      </tr>

      <tr>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
      </tr>

      <tr>
        <td>27</td>
        <td>28</td>
        <td>
          29

          <div>
            <a href="http://www.wowhead.com/achievement=8345" rel=
            "who=Portside&amp;when=1398829067000"><img src=
            "http://wow.zamimg.com/images/wow/icons/medium/inv_pegasusmount.jpg" width=
            "36" height="36" border="0" /></a>
          </div>
        </td>

        <td>30</td>

        <td colspan="2" class="dayspacer"></td>
      </tr>
    </tbody>
  </table>
-->  
  <div ng-bind-html="tableHtml"></div>
</div>
