<!-- Modal Login Template -->
<script type="text/ng-template" id="ModelLogin.html">
  <div class="modal-header">
      <h3 class="modal-title">Enter realm and character</h3>
  </div>
  <div class="modal-body">
  	<div class="input-group">
    	<span class="input-group-addon input-group-label">Realm</span>
      <select id="realmSelection" class="combobox input-large form-control" ng-model="selectedRealm" ng-options="realm.value as realm.text for realm in realms">
        <option value=""></option>
      </select>
    </div>
    <br/>
    <div class="input-group">
		<span class="input-group-addon input-group-label">Character</span>
        <input type="text" class="form-control" ng-model="characterName" ng-enter="ok()">
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="marko()">MARKO</button>
      <button class="btn btn-primary" ng-click="ok()">Go</button>
  </div>
</script>