<!-- Modal Login Template -->
<script type="text/ng-template" id="ModelLogin.html">
  <div class="modal-header">
      <h3 class="modal-title">Enter realm and character</h3>
  </div>
  <div class="modal-body">
  	<div class="input-group">
    	<span class="input-group-addon input-group-label">Realm</span>
      <ui-select ng-model="selectedRealm.selected"
                   theme="bootstrap"
                   ng-disabled="isDisabled"
                   reset-search-input="false"
                   style="width: 100%;"
                   title="Choose an realm">
          <ui-select-match placeholder="Enter an realm...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="realm in realms | filter:$select.search">
            <div ng-bind-html="realm.name | highlight: $select.search"></div>
          </ui-select-choices>
      </ui-select>
    </div>
    <br/>
    <div class="input-group">
		<span class="input-group-addon input-group-label">Character</span>
        <input type="text" class="form-control" ng-model="characterName" ng-enter="ok()">
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">Go</button>
  </div>
</script>