<div class="container">
  <div class="page-header">
    <h2>
        Mounts <small class="pbSmall"><input type="checkbox" id="planner" ng-model="showPlanner" ng-change="plannerChanged()"><label for="planner">Show Planner</label></small>
    <div class="progress progressRight">
            <progressbar max="100" type="success"
      	  		value="percent(items.collected, items.possible)" >
      	  		<span>{{ achFormater(items.collected, items.possible) }}</span>
      	  	</progressbar>  	
        </div>
    </h2>
  </div>
  <div ng-hide="showPlanner">
    <h3 class="categoryHeader" ng-hide="category.name == 'Mounts'" ng-repeat-start="category in items.categories">{{ category.name }}</h3>
    <div class="sect" ng-repeat="subCategory in category.subCategories">
  		<h5 class="subCatHeader">{{ subCategory.name }}</h5>
  		<a target="{{settings.anchorTarget}}" ng-href="//{{settings.WowHeadUrl}}/{{ item.link }}" class="thumbnail" ng-repeat="item in subCategory.items" ng-class="{borderOn:!item.collected, borderOff:item.collected}">
          	<img ng-src="{{getImageSrc(item)}}">
        	</a>
    </div>
    <div class="clear" ng-repeat-end></div> 
  </div>

    <div ng-show="showPlanner && plannerReturned && planner.length > 0">
        <mount-runs
            faction="{{faction}}"
            heading="Runs Complete"
            runs="planner"
            show-done="true"
        ></mount-runs>
        <mount-runs
            faction="{{faction}}"
            heading="Runs Remaining"
            runs="planner"
            show-done="false"
            expanded="true"
        ></mount-runs>
    </div>

    <div ng-show="showPlanner && plannerReturned && planner.length == 0">
        <img src="images/success.png" />
        <p>
            Grats! You've farmed all the mounts. <br />
            You should post on <a href="http://reddit.com/r/wow">/r/wow</a>!
        </p>
    </div>
</div>
