<div class="container">
  <div class="page-header">
    <h2>
        Mounts <small class="pbSmall"><input type="checkbox" id="planner" ng-model="showPlanner" ng-change="plannerChanged()"><label for="planner">Show Planner</label></small>
    <div class="progress progressRight">
            <progressbar max="100" type="success"
      	  		value="percent(items.collected, items.possible)" >
      	  		<span>{{ achFormater(items.collected, items.possible) }}</span>
      	  	</progressbar>  	
        </div>
    </h2>        
  </div>

  <!-- Grid Layout -->
  <div ng-hide="showPlanner">
    <h3 class="categoryHeader" ng-hide="category.name == 'Mounts'" ng-repeat-start="category in items.categories">{{ category.name }}</h3>
    <div class="sect" ng-repeat="subCategory in category.subCategories">
  		<h5 class="zoneHeader">{{ subCategory.name }}</h5>
  		<a ng-href="//www.wowhead.com/{{ item.link }}" class="thumbnail" ng-repeat="item in subCategory.items" ng-class="{borderOn:!item.collected, borderOff:item.collected}">
          	<img ng-src="{{getImageSrc(item)}}">
        	</a>
    </div>
    <div class="clear" ng-repeat-end /> 
  </div>

  <!-- Planner Layout -->
  <div ng-show="showPlanner">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Step</th>
          <th>Boss</th>
          <th>Mount</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody ng-repeat="step in planner">
        <tr ng-hide="isCollected(step.spellId)">
          <td>{{$index + 1}}</td>
          <td>{{step.title}}</td>
          <td colspan="2">
            <table width="100%">
              <tr>
                <td width="50%">{{step.boss}}</td>
                <td><a ng-show="step.itemId" ng-class="anchorCss(step)" ng-href="//www.wowhead.com/item={{ step.itemId }}"><img class="mnt-plan-icon" ng-src="{{getPlanImageSrc(step)}}">{{step.name}}</a></td>
              </tr>
              <tr>
                <td>{{step.boss}}</td>
                <td><a ng-show="step.itemId" ng-class="anchorCss(step)" ng-href="//www.wowhead.com/item={{ step.itemId }}"><img class="mnt-plan-icon" ng-src="{{getPlanImageSrc(step)}}">{{step.name}}</a></td>
              </tr>
            </table>
          </td>
          <td>{{step.notes}}</td>
        </tr ng-repeat-end>
      </tbody>
    </table>
  </div>
</div>