<div class="container rep">
  <div class="page-header">
    <h2>Reputation<small></small></h2>        
  </div>


  <div ng-repeat="category in items.categories">
	  <h3>{{ category.name }}</h3>
	  <ul>	    
	    <li ng-repeat="faction in category.factions">
	      <sa-reputation-row faction="faction"></sa-reputation-row>
	    </li>

	    <li class="labelRow" ng-show="!category.isTiller">
	      <div class="factionLabel"></div><div class="hated repLabel">Hated</div><div class="hostel repLabel">Hos</div><div class="unfriendly repLabel">Unf</div><div class="neutral repLabel">Neu</div><div class="friendly repLabel">Friend</div><div class="honored repLabel">Honored</div><div class="revered repLabel">Revered</div><div class="exalted repLabel">Ex</div>
	    </li>
	  </ul>
  </div>


   <!--
   <div class="sect" ng-repeat="subCategory in category.subCategories">
    <h5 class="zoneHeader">{{ subCategory.name }}</h5>
    <a ng-href="http://www.wowhead.com/{{ item.link }}" class="thumbnail" ng-repeat="item in subCategory.items" ng-class="{borderOn:!item.collected, borderOff:item.collected}">
          <img ng-src="{{getImageSrc(item)}}">
        </a>
   </div>-->

  <!--

  	
  -->
 
</div>