<div class="container">
  <div class="page-header">
    <h2>
        Settings
    </h2>
  </div>
  
  <!--
  <h3 class="categoryHeader" ng-hide="category.name == superCat" ng-repeat-start="category in achievements.categories">{{ category.name }}</h3>
  <div class="sect" ng-repeat="zone in category.zones">
      <h5 class="zoneHeader">{{ zone.name }}</h5>

      <a target="{{settings.anchorTarget}}" ng-href="//{{settings.WowHeadUrl}}/achievement={{achievement.id}}" class="thumbnail" ng-attr-rel="{{achievement.rel}}" ng-repeat="achievement in zone.achievements" ng-class="{borderOn:!achievement.completed, borderOff:achievement.completed}">
        <img ng-src="{{getImageSrc(achievement)}}">
      </a>
  </div>
  -->
  <div class="clear" ng-repeat-end /> 
</div>